.all-body{
    background-color: black;
}

.all-title{
    color: #fff;
    text-align: center;
}

th,td{
    color: #fff;
    padding: 15px 20px;
    border: 1px solid #ddd;
}

.all-label{
    color: black;
}

.all-thead, .all-tr{
    background-color: gray;
}

.all-tableau {
    text-align: center;
    border: solid white;
}

.Dbutton{
    background-color: red;
}

.Dbutton:hover{
    background-color: lightcoral;
}

.Dbutton:active{
    background-color: lightcoral;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.Ubutton{
    background-color:   green;
}

.Ubutton:hover{
    background-color: lightgreen;
}

.Ubutton:active{
    background-color: lightcoral;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}