
.form-form {
    width: 400px;
    margin: auto;
    border: 1px solid #B7B7B7;
    background-color: #F9F9F9;
    padding: 10px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.form-title {
    font-size: 20px;
    text-align: center;
    color: #3F3F3F;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #B7B7B7;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #3F3F3F;
    font-size: 14px;
}

.form-label {
    font-size: 14px;
    color: #3F3F3F;
}

#termsOfUse {
    margin-top: 10px;
    margin-bottom: 8px;
}

#termsOfUse p {
    font-size: 14px;
    color: #3F3F3F;
    margin-bottom: 0px;
}

#termsOfUse input {
    width: auto;
    margin-right: 10px;
}

#termsOfUse a {
    font-size: 14px;
    color: #1C7A80;
    text-decoration: none;
}

.form-input[type=submit] {
    background-color: #1C7A80;
    color: #FFFFFF;
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 8px;
    cursor: pointer;
}

.form-label a {
    font-size: 14px;
    color: #1C7A80;
    text-decoration: none;
    font-weight: bold;
}


