.terms-body {
    background-color: lightgrey;
    color: blue;
}

.terms-title{
    color: black;
    text-decoration-line: overline;
    letter-spacing: 2px;
}

.terms-txt{
    color: black;
}